@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-position: top;
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grecaptcha-badge { 
  visibility: hidden !important;
}

.image-gallery {
    width: 90vw;
    height: 250px;
}

.image-gallery-slide img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
}

@media (min-width: 768px) {
  .image-gallery {
    width: 700px;
    height: 500px;
  }

  .image-gallery-slide img {
      width: 100%;
      height: 500px;
  }
}