@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
}

html {
  scroll-behavior: smooth !important;
 }

body {
  color: rgb(var(--foreground-rgb));
  background-position: top;
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grecaptcha-badge { 
  visibility: hidden !important;
}

.image-gallery-slide img {
  height: 500px;
  width: 500px;
}